body {
    font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}

.sidebar {
    position: fixed;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.form-group.required .control-label:after { 
    content:"*"; 
    color:red; 
}

.productsAjax {
    background: whitesmoke;
    width: 30%;
}

.productsAjax li {
    list-style-type: none;
    text-decoration: underline;
    cursor: pointer;
    margin-left: -15px;
    line-height: 25px;
}

.bootstrap-datetimepicker-widget>ul {
    padding: 0;
}

.rewardsList > div {
    width: 25%;
}

